{
 "display_name": "{{ conda_env_name }}-PySpark {{ spark_client_version }}",
 "language": "python",
 "argv": [
  "{{ anaconda_install_dir }}/envs/{{ conda_env_name }}/bin/python",
  "-m",
  "ipykernel",
  "-f",
  "{connection_file}"
 ],
 "env": {
    "SPARK_HOME": "{{ spark_client_home }}",
    "PYSPARK_PYTHON": "{{ anaconda_install_dir }}/envs/{{ conda_env_name }}/bin/python",
    "PYTHONPATH": "{{ spark_client_home }}/python/:{{ tmp_py4j_path }}",
    "PYTHONSTARTUP": "{{ spark_client_home }}/python/pyspark/shell.py",
    "PYSPARK_SUBMIT_ARGS": "--master local[*] --packages com.databricks:spark-csv_2.11:1.5.0,com.databricks:spark-xml_2.11:0.4.1,com.databricks:spark-avro_2.11:3.1.0 pyspark-shell"
  }
}
