[Unit]
Description=Jupyter
After=syslog.target network.target

[Service]
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:{{ anaconda_install_dir }}/bin:/root/bin
ExecStart={{ anaconda_install_dir }}/bin/jupyter-notebook --ip 0.0.0.0 --port 80 --no-browser --notebook-dir={{ jupyter_single_user_cwd }} -y
WorkingDirectory=/home/rhea

[Install]
WantedBy=multi-user.target